@import './colors';

*,
::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: $light-gray;
	font-size: 1.6rem;
	font-family: 'Karla', sans-serif;
	color: $white;
}

main {
	width: 375px;
	border-radius: 15px;
	overflow: hidden;
}

footer {
	margin-top: 1em;
	text-align: center;
	color: $cyan;
}

.cta,
.price,
.reason {
	padding: 1.9em 1.8em;

	h2 {
		margin-bottom: 0.8em;
		font-weight: 700;
	}
}

.cta {
	background-color: $white;
	color: $grayish-blue;

	&__heading {
		color: $cyan;
	}

	&__text-one {
		font-weight: 700;
		color: $bright-yellow;
	}

	&__text-two {
		margin-top: 1.2em;
		line-height: 1.7;
	}
}

.price {
	background-color: $cyan;

	&__amount {
		display: flex;
		align-items: center;
		margin: 1em 0;
	}

	.number {
		font-size: 3.8rem;
		font-weight: 700;
	}

	.time {
		margin-left: 0.8em;
		font-weight: 400;
		color: $light-gray;
	}

	&__btn {
		margin-top: 2em;
		padding: 1.1em;
		width: 100%;
		border: 0px solid transparent;
		border-radius: 10px;
		background-color: $bright-yellow;
		font-family: 'Karla', sans-serif;
		font-size: 1.7rem;
		font-weight: 700;
		color: $white;
		transition: box-shadow 0.3s;
		cursor: pointer;

		&:hover {
			box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
		}
	}
}

.reason {
	background-color: $light-cyan;

	&__list {
		list-style: none;
		line-height: 1.5;
		font-weight: 400;
	}
}

@media (min-width: 1000px) {
	main {
		width: 750px;
	}

	.cta,
	.price,
	.reason {
		padding: 2.6em 2.5em;
	}

	.cta {
		h2 {
			font-size: 2.8rem;
		}
		&__text-two {
			margin-right: 6em;
		}
	}

	.wrap {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.price,
	.reason {
		width: 375px;
	}
}
